## **CLASS TASK 4**

### Case Study: Student Performance Analysis with Linear Algebra

1. **Introduction** 

In this case study, we will use Linear Algebra concepts (vectors, vector operations, matrices, 
and matrix operations) to analyze student performance data. 

Linear Algebra is powerful because it allows us to represent and manipulate data in a 
structured way. For example: 
- Each student’s scores can be represented as a vector. 
- A group of students’ scores across subjects can be represented as a matrix. 
- We can then use vector and matrix operations to compute totals, averages, and weighted 
grades.

2. **Problem Setup**

We have the scores of 4 students in 3 subjects (Mathematics, English, Science): 

Student         Math       English     Science

Student 1        80           70          90

Student 2        60           85          75

Student 3        95           88          92

Student 4        70           60          65
 

We will represent this dataset as a matrix: 

[[80, 70, 90], 

[60, 85, 75], 

[95, 88, 92], 

[70, 60, 65]]

3. **Step-by-Step Analysis**

3.1 Representing Data as a Matrix 

Represent the scores as a 4x3 matrix, where rows = students and columns = subjects.

In [2]:
# import necessary packages
import numpy as np

In [ ]:
student_1 = [80, 70, 90]
student_2 = [60, 85, 75]
student_3 = [95, 88, 92]
student_4 = [70, 60, 65]

student = np.array([student_1, student_2, student_3, student_4])

student

array([[80, 70, 90],
       [60, 85, 75],
       [95, 88, 92],
       [70, 60, 65]])

3.2 **Total Scores per Student (Vector Addition)** 

Compute the total score for each student by summing across the row vector.

In [ ]:
total_score1 = np.sum(student_1)
total_score2 = np.sum(student_2)
total_score3 = np.sum(student_3)
total_score4 = np.sum(student_4)

print('The sum of the total scores of student 1 is:', total_score1)

The sum of the total scores of student 1 is 240

**3.3 Applying Weights (Scalar Multiplication)** 

Apply subject weights (e.g., Math is twice as important as others) using scalar 
multiplication.

NameError: name 's' is not defined